RewriteEngine on



#404 page not found error redirection
	ErrorDocument 404 /ticaf/public/error404
	RewriteRule ^error404$ error404.php [NC,L] 


#Restrict access to folder
	Options -indexes


#index page
	RewriteRule ^/  index.php [NC,L]
	RewriteRule ^user user.php [NC,L]
	RewriteRule ^home home.php [NC,L]
	RewriteRule ^logout logout.php [NC,L]














#htAccess format
#RewriteRule ^school/([a-zA-Z_-]+)/([a-zA-Z_-]+)/([0-9]+)/(.*)$ school.php?category=$1&country=$2&page=$3 [NC,L]
